<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="QLLKEntities" connectionString="metadata=res://*/Database.QLLKModel.csdl|res://*/Database.QLLKModel.ssdl|res://*/Database.QLLKModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=307B9CB7E77F1C7616906886F027A2C5_DE\WPFAPP_QUANLYLINHKIEN\WPFAPP_QUANLYLINHKIEN\WPFAPP_QUANLYLINHKIEN\DATABASE\DATABASE_QLLK.MDF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLLK_Entities" connectionString="metadata=res://*/QLLK_Model.csdl|res://*/QLLK_Model.ssdl|res://*/QLLK_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=5234F719F7285847C20E7F5D4E9E2E34_UNGNET\CODE\WPFAPP_QUANLYLINHKIEN\WPFAPP_QUANLYLINHKIEN\WPFAPP_QUANLYLINHKIEN\DATABASE_QLLK.MDF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>